django
django-highcharts
django-static-jquery
numpy
pymspec
python-dateutil
pymzml
# mysql-python  # only if mysql is used (http://stackoverflow.com/questions/5178292/pip-install-mysql-python-fails-with-environmenterror-mysql-config-not-found#5178698)
