celery==3.1.25
django==1.10.2
-e git+https://github.com/celery/django-celery@v3.2.0#egg=django-celery
django-datatable>=0.2
django-highcharts
django-static-jquery
django-settings-export
django-tables2
numpy
openbabel
pandas
requests
plotly
pubchempy
pymspec==0.7.8
-e git+https://github.com/celery/django-celery@v3.2.0#egg=django-celery
python-dateutil
sqlparse
