h1 a {
    color: #FCA205;
}

body {
    padding-left: 20px;
    padding-right: 20px;
}

.center .main-content {
    padding: 20px;
    width: 99%;
    display: inline-block;
    overflow: auto;
    white-space: wrap;
    margin: 0px auto;
    border: 1px lightgrey solid;
    float: left;
    text-align: left;
}

.center h1 {
    color: #000000;
    float: left;
    margin-left: 10px
}

.center{
    margin: auto;
    margin-top:45px;
    width: 95%;
    min-width: 300px;
    border: 0px solid lightgrey;
    padding: 10px;
    text-align: center;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 23pt;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 18pt;
    text-decoration: none;
    float: right;
}

.page-header small, .page-header small a, .page-header small a:visited, .page-header small a:active {
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
    float: right;
}

.page-header-extras {
    background-color: #ff9400;
    margin-top: 15px;
    padding: 20px 20px 20px 20px;

}
.page-header-extras small, .page-header-extras small a, .page-header-extras small a:visited, .page-header-extras small a:active {
    color: #ffffff;
    font-size: 10pt;
    text-decoration: none;
    float: left;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.specgraph {
    margin-left: 10px;
    min-width: 100px;
    max-width: 700px;
    width: 100%;
}
.xic_fraggraph {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
}
.mol {
    margin-left: 40px;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: left;
}

.post-standard{
    width: 100%;
}
.post-standard textarea{
    width: 80%;
    height: 30px;
}
.post-standard input {
    height: 10px;
    float: left;
}

.data_upload-form textarea, .post-form input {
    height: 50px;
    margin-left: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.table_c{
text-align: center;
}

.footer, .push {
    position: fixed;
    bottom: 0px;
}