{% extends 'mcf_standards_browse/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                    <h1>About </h1>
            </div>
            <div class ="row">
                    <p>  the {{settings.INSTITUTE_NAME}} Spectral Library  </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main-content">
            This website contains the {{settings.INSTITUTE_NAME}} spectral library. Every spectrum has been hand annotated
            using the <a href="{% url 'about-curatr' %}">curatr</a> curation process.
        </div>
        <div>
            Curatr is an open source project from the Alexandrov Team at EMBL, see the <a href="https://github.com/alexandrovteam/curatr"> repository </a> to get the code and follow the instructions to lauch your own spectral library.
        </div>
    </div>

{% endblock %}


