<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/standards_review.css' %}">

    {% block header %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>MCF Standards Browser</title>
</head>
<body>
    <div class="page-header">
        <h1> <a href = "/" id="home_link">MCF Data Browser</a> </h1>
    </div>

    {% block content %}
    {% endblock %}



</body>
</html>