<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/standards_review.css' %}">
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>MCF Standards Browser</title>
</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <p class="top-menu">Welcome: {{ user }} <small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
        {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><small>Log in <span class="glyphicon glyphicon-lock"></span></small></a>
        {% endif %}
        <h1> <a href = "/" id="home_link">MCF Data Browser</a> </h1>

    </div>

    {% block content %}
    {% endblock %}

</body>
{% block script %}
{% endblock %}
<!-- JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
    {% block extrajs %}{% endblock %}
</html>