{% extends 'mcf_standards_browse/base.html' %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" style="margin-top:45px">
          <div class="row">
              <p><h1>Welcome to Curatr</h1></p>
          </div>
          <div class ="row">
            <p>Curatr is your place to create, browse and share your spectral library.</p>
            <p><a class="btn btn-primary btn-lg" href="{%url 'about' %}" role="button">Learn more &raquo;</a></p>
          </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Browse Molecules</h2>
          <p>Explore the library of molecules.</p>
          <p><a class="btn btn-default" href="{% url 'MCFMolecule-list' %}" role="button">Go &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Browse Standards</h2>
          <p>Explore the library of standards</p>
          <p><a class="btn btn-default" href="{% url 'MCFStandard-list' %}" role="button">Go &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Browse Spectra</h2>
          <p>Explore the spectral data contained in the library</p>
          <p><a class="btn btn-default" href="{% url 'fragmentSpectrum-list' %}" role="button">Go &raquo;</a></p>
        </div>
      </div>
        <div class="row">
            <div class="col-md-4 col-centered" >
                <h2>Curate Data</h2>
                <p>Upload a LC-MS(/MS) or shotgun dataset and curate the fragmentation spectra within. </p>
                <p><a class="btn btn-default" href="{% url 'MCFdataset-list' %}" role="button">Go &raquo;</a></p>
            </div>
        </div>

      <hr>


    </div> <!-- /container -->

{% endblock %}


