{% extends 'mcf_standards_browse/base.html' %}

{% block content %}

    <div id = welcome>
        <h2>Welcome to the MCF Standards Browser</h2>
    </div>
    <div id = links>
        <p>
            <a href="{% url 'MCFStandard-list' %}"> Browse Standards Library </a> -
            <a href="{% url 'fragmentSpectrum-list' %}"> Browse Fragmentation Spectra </a> -
            <a href="{% url 'dataset-list' %}"> Browse datasets </a> -
        </p>
        <p>
            Data Review (Browse XIC)
        </p>
    </div>
{% endblock %}


