{% extends 'mcf_standards_browse/base.html' %}

{% block content %}

    <div id = welcome, style="text-align: center; width = 100%;">
        <h1>Welcome to the MCF Standard Library Browser</h1>
        </div>
    <div class="center">

        <p>
            <a href="{% url 'MCFMolecule-list' %}"> Browse Molecule Library </a> -
            <a href="{% url 'MCFStandard-list' %}"> Browse Standards Inventory </a> -
            <a href="{% url 'fragmentSpectrum-list' %}"> Browse Fragmentation Spectra </a> -
            <a href="{% url 'MCFdataset-list' %}"> Browse datasets </a> -
        </p>
    </div>
{% endblock %}


