{% extends 'mcf_standards_browse/base.html' %}
{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <h1> XIC Detail:</h1>
    <h2>Dataset: <a href="{% url 'MCFdataset-detail' dataset.pk %}"> {{ dataset.name }} {{ standard }} {{ adduct }} </a></h2>
    <h3>m/z: {{ mz|floatformat:"4" }}</h3>
        <div id='chart_id' class="specgraph"></div>

    <div>
    <h2>Fragmentation Spectra</h2>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
        {% endif %}
            <table id="id_list_table">
            <tr>
                <th>ID</th>
                <th>Precursor <br>mass </th>
                <th>Retention <br>time</th>
                <th>Precursor <br>Fraction </th>
                <th>Fragmentation <br>Spectrum</th>
                {% if user.is_authenticated %}
                <th>yes/no</th>
                {% endif %}
            </tr>
            {% for spec in frag_specs %}
                <tr>
                    <td class="table_c"> {{ spec.id }}</td>
                    <td class="table_c"> <a href="{% url 'fragmentSpectrum-detail' spec.id %}">{{ spec.precursor_mz|floatformat:"4"  }}</a> </td>
                    <td class="table_c"> {{ spec.rt |floatformat:"2" }}</td>
                    <td class="table_c"> {{ spec.precursor_quad_fraction|floatformat:"2" }} </td>
                    <td> <div id="frag_spec{{ spec.id }}" class="xic_fraggraph"></div></td>
                    {% if user.is_authenticated %}
                    <td><input type="radio" name="yesno_{{ spec.id }}" value="yes" checked> Accept<br>
                        <input type="radio" name="yesno_{{ spec.id }}" value="no"> Reject<br></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% if user.is_authenticated %}
            <input type="submit" value="Save">
        </form>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
<!-- Highchart js. Variable map shown above -->
<script>
    $(document).ready(function() {
        $('#{{ highchart.chart_id|safe }}').highcharts({
            chart: {{ highchart.chart|safe }},
            title: {{ highchart.title|safe }},
            xAxis: {{ highchart.xAxis|safe }},
            yAxis: {{ highchart.yAxis|safe }},
            series: {{ highchart.series|safe }}
        });
    });
</script>
{% for spec in frag_spec_highchart %}
    <script>
        $(document).ready(function() {
            $('#{{ spec.chart_id }}').highcharts({
                chart: {{ spec.chart|safe }},
                title: {{ spec.title|safe }},
                xAxis: {{ spec.xAxis|safe }},
                yAxis: {{ spec.yAxis|safe }},
                series: {{ spec.series|safe }}
            });
        });
    </script>
{% endfor %}
{% endblock %}
