{% extends 'mcf_standards_browse/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block content %}
    <div class="main-content">
        <h1>Molecules in the MCF Library</h1>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-sm-12">
                <form method="get" action="{{ request.path }}">
                    <input type="search" name="search" placeholder="Search..."
                           value="{{ request.GET.search }}">
                    {% for k, v in request.GET.items %}
                        {% if not k == "search" %}
                            <input type="hidden" name="{{ k }}" value="{{ v }}">
                        {% endif %}
                    {% endfor %}
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% render_table molecule_list %}
            </div>
        </div>
        {{ molecules_with_spectra }} molecule(s) with at least one fragmentation spectrum
    </div>
{% endblock %}
