{% extends 'mcf_standards_browse/base.html' %}
{% load xic_extras %}
{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <script src="http://github.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'dataset-detail' dataset.pk %}">return to list</a></small>
    </div>
    <div class="container">
        <h1> Curation Detail</h1>
        <div class="main-content">
            <h2> {{ standard }} </h2>
            <h2> {% autoescape off %}{{ adduct.html_str }} {% endautoescape %} </h2>
            <h2>Dataset: <a href="{% url 'dataset-detail' dataset.pk %}"> {{ dataset.name }}</a></h2>
            <h3>m/z: {{ mz|floatformat:"4" }}</h3>
                <div id='chart_id' class="specgraph"></div>
        </div>
        <div class="main-content">
            <h2>Fragmentation Spectra</h2>
            {% if frag_specs|length > 0 %}
                {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                {% endif %}
                    <table id="id_list_table">
                    <tr>
                        <th>Scan No</th>
                        <th>Precursor <br>mass </th>
                        <th>Retention <br>time</th>
                        <th>Precursor <br>Fraction </th>
                        <th>Fragmentation Spectrum {{ spec.collision_energy }}</th>
                        <th>Status</th>
                    </tr>
                    {% for spec in frag_specs %}
                        <tr>
                            <td class="table_c"> {{ spec.spec_num }}</td>
                            <td class="table_c"> <a href="{% url 'fragmentSpectrum-detail' spec.id %}">{{ spec.precursor_mz|floatformat:"4"  }}</a> </td>
                            <td class="table_c"> {{ spec.rt |floatformat:"2" }}</td>
                            <td class="table_c"> {{ spec.precursor_quad_fraction|floatformat:"2" }} </td>
                            <td> <div id="frag_spec{{ spec.id }}" class="xic_fraggraph"></div></td>
                            <td>
                                {% if user.is_authenticated %}
                                    {{ form|form_id:spec.id }}
                                {% else %}
                                    {% if spec.reviewed == False %}
                                        Unrated
                                    {% else %}
                                        {% if spec.standard == None%}
                                            Rejected
                                        {% else %}
                                            {{ spec.standard }}
                                        {% endif %}
                                        Status set by {{ spec.last_editor }} on {{ spec.date_edited }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% if user.is_authenticated %}
                    <input type="submit" value="Save" class="save btn btn-default" style="float: right; margin-right: 1%;">
                </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#{{ highchart.chart_id|safe }}').highcharts({
            chart: {{ highchart.chart|safe }},
            title: {{ highchart.title|safe }},
            xAxis: {{ highchart.xAxis|safe }},
            yAxis: {{ highchart.yAxis|safe }},
            series: {{ highchart.series|safe }},
            legend: {enabled: false},
        });
    });
</script>

{% for spec in frag_spec_highchart %}
    <script>
        $(document).ready(function() {
            $('#{{ spec.chart_id }}').highcharts({
                chart: {{ spec.chart|safe }},
                title: {{ spec.title|safe }},
                xAxis: {{ spec.xAxis|safe }},
                yAxis: {{ spec.yAxis|safe }},
                series: {{ spec.series|safe }},
                legend: {enabled: false},
                tooltip: {
                    snap: 50,
                    crosshairs: [true,false],
                    formatter: function () {
                        return this.point.x;
                    }
                }
            });
        });
    </script>
{% endfor %}

{% endblock %}
