{% extends 'mcf_standards_browse/base.html' %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'MCFStandard-list' %}">return to list</a></small>
    </div>
    <div class="center">
        <h2> EMBL-MCF Standard: Standard Detail: {{standard.name}}</h2>

        <div class="main-content">
            <h2>Chemical Information</h2>
            <p>Formula: {{standard.molecule.sum_formula}}</p>
            <p>MCFID: {{standard.MCFID}} </p>
            <p>Exact mass: {{standard.molecule.exact_mass}} </p>
            <p>Solubility: {{standard.molecule.solubility}} </p>
            <p>Inchi: {{standard.molecule.inchi_code}} </p>

        </div>
        <div class="main-content">
            <h2> External reference numbers</h2>
            <p>ChEBI: {{standard.molecule.chebi_id}} </p>
            <p>lipidMAPS: {{standard.molecule.lipidmaps_id}} </p>
            <p>CAS: {{standard.molecule.cas_id}} </p>
            <p>Pubchem: {{standard.molecule.pubchem_id}} </p>
            <p>Vendor: {{standard.vendor}} </p>
            <p>Vendor Catalogue Number: {{standard.vendor_cat}} </p>
        </div>
    </div>
    <div>

    </div>
{% endblock %}