{% extends 'mcf_standards_browse/base_highcharts.html' %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'standard-list' %}">return to standard list</a></small>
    </div>
    <div class="center">
        <h2> Standard Detail: {{standard.molecule.name}}</h2>
        <div class="main-content">
            <div class="table-responsive">
                <h2>Chemical Information</h2>
                <table id="info_table" class="table">
                    <tbody>
                        <tr> <td>Name</td> <td>{{standard.molecule.name}} </td></tr>
                        <tr> <td>Formula</td> <td> {{standard.molecule.sum_formula}}</td></tr>
                        <tr> <td>Inventory ID</td> <td> {{standard.inventory_id}} </td></tr>
                        <tr> <td>Exact mass</td> <td> {{standard.molecule.exact_mass|floatformat:"5"}} </td></tr>
                        <tr> <td>Solubility</td> <td> {{standard.molecule.solubility}}</td></tr>
                        <tr> <td>Inchi</td> <td> {{standard.molecule.inchi_code}} </td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main-content">
            <h2> External reference numbers</h2>
            <div class="table-responsive">
                <table id="ref_table" class="table">
                    <tbody>
                        <tr> <td>ChEBI</td> <td> {{standard.molecule.chebi_id}} </td></tr>
                        <tr> <td>lipidMAPS</td> <td> {{standard.molecule.lipidmaps_id}} </td></tr>
                        <tr> <td>CAS</td> <td>{{standard.molecule.cas_id}} </td></tr>
                        <tr> <td>Pubchem</td> <td> {{standard.molecule.pubchem_id}} </td></tr>
                        <tr> <td>Vendor</td> <td> {{standard.vendor}} </td></tr>
                        <tr> <td>Vendor Catalogue Number</td> <td> {{standard.vendor_cat}} </td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main-content">
            <div class="xic_fraggraph">{{xic_plot|safe}}</div>
        </div>
        <div class="table-responsive">
            <table id="id_list_table" style="width: 100%">
            <tbody>
            {% for spectrum, spec_plot in frag_info %}
            <tr>
                <td>
                    {{ spectrum.adduct.html_str }}
                    <div class="table-responsive">
                        <table id="detail_table {{ spectrum.id }}" class="table">
                        <tbody>
                            <tr> <td> Scan Number </td> <td>{{ spectrum.spec_num }}</td></tr>
                            <tr> <td>Precursor m/z</td> <td>{{ spectrum.precursor_mz|floatformat:"5"  }} </td></tr>
                            <tr> <td>Retention time</td> <td> {{ spectrum.rt |floatformat:"2" }}</td></tr>
                            <tr> <td>Precursor Fraction</td> <td> {{ spectrum.precursor_quad_fraction|floatformat:"2" }}</td> </tr>
                            <tr> <td>{{ spectrum.collision_energy }}</td> <td></td></tr>
                        </tbody>
                        </table>
                    </div>
                </td>
                <td><div class="xic_fraggraph">{{spec_plot|safe}}</div> </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
