{% extends 'mcf_standards_browse/base.html' %}

{% block content %}
 <div class="center">
     <h1> Edit Molecule {{ molecule }}</h1>
        <div class="main-content">
            <form method="POST" class="data_upload-form" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
            <a href="{% url 'molecule-list' %}" class="btn btn-default">Cancel</a>
        </div>
        <div class="main-content">

            {% for standard in standards %}
                <a href="{% url 'standard-edit' pk=standard.MCFID %}" class="btn btn-default">Edit Standard: {{ standard }}</a>
            {% endfor %}
        </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}