{% extends 'mcf_standards_browse/base_dataTables.html' %}

{% block content %}
    <div class="center">
        <h2> Standards: </h2>
        <div class="main-content">
            <table id="id_list_table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Name </th>
                        <th>Formula </th>
                        <th>Exact Mass</th>
                        <th>Vendor</th>
                        <th>Vendor ID</th>
                        <th>Pubchem ID</th>
                        {% for adduct in adduct_names %}
                        <th>{{adduct}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for standard, adduct_mzs in standards %}
                    <tr>
                        <td><a href="{% url 'standard-detail' mcfid=standard.inventory_id %}" id="Inventory ID">
                            {{ standard.inventory_id|add:"0"|stringformat:"04d" }} </a> </td>
                        <td>{{ standard.molecule}} </td>
                        <td>{{ standard.molecule.sum_formula }} </td>
                        <td>{{ standard.molecule.exact_mass }} </td>
                        <td>{{ standard.molecule.pubchem_id }} </td>
                        <td>{{ standard.vendor }} </td>
                        <td>{{ standard.vendor_id }} </td>
                        {% for mz in adduct_mzs %}
                            <td> {{mz.val}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'MCFStandard-add' %}" id="add_standard_button"><span class="glyphicon glyphicon-plus"> Add </span></a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#id_list_table').DataTable({
                    stateSave: true
            });
        } );
    </script>
{% endblock %}
