{% extends 'mcf_standards_browse/base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .margin1 {
            margin-top: 60px
        }

        .big-number {
            font-size: 42px;
        }

        .number-description {
        }
    </style>
    <div class="main-content" style="margin-top: 10px;">
        <div class="container">
            <div class="row">
                <h1>Library statistics</h1>
            </div>
            <div class="row">
                <h2>Fragmentation Spectra</h2>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-6">
                    <!--<canvas id="chart1" width="100%" height="100%"></canvas>-->
                    {{plot_curated|safe}}
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_annotations }}</p>
                    </div>
                    <div class="number-description">
                        <p>curated (total)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_spectra }}</p>
                    </div>
                    <div class="number-description">
                        <p>spectra</p>
                    </div>
                    <div class="big-number">
                        <p>{{ percent_spectra_curated }}%</p>
                    </div>
                    <div class="number-description">
                        <p>curated (percent)</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <!--<canvas id="chart_adducts" width="100%" height="100%"></canvas>-->
                </div>
            </div>
            <div style="margin-top: 100px;"></div>
            <div class="row">
                <h2>Molecules</h2>
            </div>

            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-4">
                    <!--<canvas id="chart2" width="100%" height="100%"></canvas>-->
                    {{plot_spec_count|safe}}
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_annotated }}</p>
                    </div>
                    <div class="number-description">
                        <p>with spectra (total)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_molecules }}</p>
                    </div>
                    <div class="number-description">
                        <p>molecules</p>
                    </div>
                    <div class="big-number">
                        <p>{{ percent_molecules_annotated }}%</p>
                    </div>
                    <div class="number-description">
                        <p>with spectra (percent)</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <h2>Adducts</h2>
                <div class="col-sm-4">
                    {{plot_adduct_count|safe}}
                </div>
            </div>
            <div class="row">
                <h2>Tags</h2>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-4">
                    {{plot_tag_count|safe}}
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_taggings }}</p>
                    </div>
                    <div class="number-description">
                        <p>taggings</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_tagged }}</p>
                    </div>
                    <div class="number-description">
                        <p>tagged molecules</p>
                    </div>
                    <div class="big-number">
                        <p>{{ percent_molecules_tagged }}%</p>
                    </div>
                    <div class="number-description">
                        <p>tagged molecules (percent)</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% autoescape off %}
        <script>
            $('document').ready(function () {
            })
        </script>
    {% endautoescape %}
{% endblock %}
