{% extends 'mcf_standards_browse/base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}
    <div class="center">
        <h2> Standards Inventory: </h2>
        <div class="main-content">
   <table id="id_list_table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>InventoryID </th>
                        <th>Name </th>
                        <th>Formula </th>
                        <th>Exact Mass</th>
                        <th>Vendor</th>
                        <th>Vendor ID</th>
                        <th>Pubchem ID</th>
                        {% for adduct in adduct_names %}
                        <th>{{adduct}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for standard, adduct_mzs in standards %}
                    <tr>
                        <td><a href="{% url 'MCFStandard-detail' pk=standard.MCFID %}" id="MCF"> {{ standard.MCFID|add:"0"|stringformat:"04d" }} </a> </td>
                        <td>{{ standard.molecule}} </td>
                        <td>{{ standard.molecule.sum_formula }} </td>
                        <td>{{ standard.molecule.exact_mass }} </td>
                        <td>{{ standard.vendor }}</td>
                        <td>{{ standard.vendor_id }}</td>
                        <td>{{ standard.molecule.pubchem_id }} </td>
                        {% for mz in adduct_mzs %}
                            <td> {{mz.val}} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'MCFStandard-add' %}" id="add_standard_button"><span class="glyphicon glyphicon-plus"> Add </span></a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type='text/javascript' src= 'https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js'></script>
    <script>
        $(document).ready(function() {
            $('#id_list_table').DataTable({
                    stateSave: true
            });
        });
    </script>
{% endblock %}