{% extends 'mcf_standards_browse/base_highcharts.html' %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'molecule-list' %}">return to molecule list</a></small>
    </div>
    <div class="center">
         <div class="main-content">
            <h2> Molecule Detail</h2>
            <h2> {{ molecule }}</h2>
        </div>
        <div class="main-content">
            <h2>Chemical Information</h2>
            <p>Formula: {{molecule.sum_formula}}</p>
            <p>Inchi: {{molecule.inchi_code}} </p>
            <p>Exact mass: {{molecule.exact_mass}} </p>
            <p>Solubility: {{molecule.solubility}} </p>
        </div>
        <div class="main-content">
            <h2> External reference numbers</h2>
            <p>ChEBI: {{molecule.chebi_id}} </p>
            <p>lipidMAPS: {{molecule.lipidmaps_id}} </p>
            <p>CAS: {{molecule.cas_id}} </p>
            <p>Pubchem: {{molecule.pubchem_id}} </p>
            <p>HMDB: {{molecule.hmdb_id}} </p>
        </div>
        <div class="main-content">
            <h2>Tags</h2>
            {% for tag in molecule.tags.all %}
            <p>{{ tag }}</p>
            {% endfor %}
        </div>
        <div class="main-content">
            {% for standard, spectra in standards %}
            <h3>Standard: <a href="{% url 'standard-detail' mcfid=standard.inventory_id %}"> {{ standard }} </a></h3>
                {% for spectrum, frag_plot in spectra %}
                    {{ spectrum.adduct.html_str }}
                    <!--<div id="frag_spec{{ spectrum.id }}" class="xic_fraggraph"></div>-->
                    <div class="xic_fraggraph">{{frag_plot|safe}}
                    <a href="{% url 'fragmentSpectrum-detail' pk=spectrum.pk %}">View Spectrum Detail</a>
                        </div>
            <br>
                {% endfor %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class="main-content">
                <a href="{% url 'molecule-edit' pk=molecule.pk %}" class="btn btn-default">Edit Molecule</a>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
