{% extends 'mcf_standards_browse/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="center">
     <h1> Add Standard{% if form_type == 'batch' %}s{% endif %}</h1>
     <div class="main-content">
        Curatr associates fragmentation spectra with a specific chemical source, this is usually a standard of a particular molecule purchased from a supplier.
     </div>
     {% if user.is_authenticated %}
     <div class="main-content">
        {% if form_type == 'single' %}
            <p> You are currently adding a single standard, there is also the option to
            <br>
            <a href="{% url 'standard-add-batch' %}"> Add Batch</a></p>
        {% else %}
            <p> You are currently adding a batch standard, there is also the option to
            <br>
            <a href="{% url 'standard-add' %}"> Add Single</a></p>
        {% endif %}
     </div>
     <div class="main-content">
         <h2>Instructions</h2>
        {% if form_type == 'single' %}
            <p> Complete all field in the form:
        {% else %}
            The standards to add should be formatted as a tab delimited text file.
            <br>
            An example file is <a href="{% static "media/example_batch_upload.tsv" %}">here</a>
            This file <b>must</b> contain the fields: "id", "name";"formula", "inchi", "solubility", "vendor","vendor_id", "hmdb_id" , "chebi_id", "lipidmaps_id", "cas_id", "pubchem_id" <b>but</b> the values can be blank.
            <br>
            <strong>WARNING: This will overwrite any existing standards with identical IDs!</strong>
        {% endif %}
     </div>

        <div class="main-content">
            <form method="POST" class="data_upload-form" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
     {% else %}
        <div class="main-content">
            You must be logged in to add a molecule
        </div>
     {% endif %}

</div>
{% endblock %}
