{% extends 'mcf_standards_browse/base.html' %}
{% load static %}

{% block content %}
    <style type="text/css">
        .margin1 {
            margin-top: 60px
        }

        .big-number {
            font-size: 42px;
        }

        .number-description {
        }
    </style>
    <div class="main-content" style="margin-top: 10px;">
        <div class="container">
            <div class="row">
                <h1>Library statistics</h1>
            </div>
            <div class="row">
                <h2>Fragmentation Spectra</h2>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-4">
                    <canvas id="chart1" width="100%" height="100%"></canvas>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_annotations }}</p>
                    </div>
                    <div class="number-description">
                        <p>curated (total)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_spectra }}</p>
                    </div>
                    <div class="number-description">
                        <p>spectra</p>
                    </div>
                    <div class="big-number">
                        <p>{{ percent_spectra_curated }}%</p>
                    </div>
                    <div class="number-description">
                        <p>curated (percent)</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div style="margin-top: 100px;"></div>
            <div class="row">
                <h2>Molecules</h2>
            </div>

            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-4">
                    <canvas id="chart2" width="100%" height="100%"></canvas>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_annotated }}</p>
                    </div>
                    <div class="number-description">
                        <p>with spectra (total)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="margin1"></div>
                    <div class="big-number">
                        <p>{{ total_molecules }}</p>
                    </div>
                    <div class="number-description">
                        <p>molecules</p>
                    </div>
                    <div class="big-number">
                        <p>{{ percent_molecules_annotated }}%</p>
                    </div>
                    <div class="number-description">
                        <p>with spectra (percent)</p>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% autoescape off %}
        <script src="{% static 'js/chart.js' %}"></script>
        <script>
            $('document').ready(function () {
                const spectra_pie_chart = document.getElementById("chart1");
                const molecules_bar_chart = document.getElementById("chart2");
                const data1 = {
                    labels: {{ chart1.labels }},
                    datasets: [{
                        data: {{ chart1.data }},
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        borderWidth: [
                            0, 0, 0
                        ]
                    }]
                };
                const data2 = {
                    labels: {{ chart2.labels }},
                    datasets: [{
                        label: 'Number of spectra per molecule',
                        data: {{ chart2.data }}
                    }]
                };
                const common_options = {
                    animation: {
                        animateScale: true
                    },
                    legend: {
                        position: 'bottom'
                    }
                };
                new Chart(spectra_pie_chart, {
                    type: 'doughnut',
                    data: data1,
                    options: common_options
                });
                new Chart(molecules_bar_chart, {
                    type: 'bar',
                    data: data2,
                    options: common_options
                });
            })
        </script>
    {% endautoescape %}
{% endblock %}
