{% extends 'mcf_standards_browse/base.html' %}
{% block head %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'fragmentSpectrum-list' %}">return to list</a></small>
    </div>

    <div class="main-content">
        <div class="mol">
            <h2>Fragmentation Spectrum Detail</h2>
            <h3>Scan number: {{ specdata.spectrum.spec_num }}</h3>
            <p>Precursor m/z: {{ specdata.spectrum.precursor_mz }}</p>
            <p>Ion (Standard, Adduct): {{ specdata.spectrum.standard }}, {{ specdata.spectrum.adduct }}</p>
            <p>Raw data: <a href="{% url 'dataset-detail' specdata.spectrum.dataset.id %}">{{ specdata.spectrum.dataset}} <{{ specdata.spectrum.spec_num }}></a></p>
            <p>Precursor fraction of quad window: {{ specdata.spectrum.precursor_quad_fraction }}</p>
        </div>
    </div>
    <div class="main-content">
        <div id='chart_id' class="specgraph"></div>
    </div>
{% endblock %}

{% block script %}
<!-- Maps the Python template context variables from views.py to the Highchart js variables -->
<script>
    var chart_id = {{ highchart.chart_id|safe }}
    var chart = {{ highchart.chart|safe }}
    var title = {{ highchart.title|safe }}
    var xAxis = {{ highchart.xAxis|safe }}
    var yAxis = {{ highchart.yAxis|safe }}
    var series = {{ highchart.series|safe }}
</script>

<!-- Highchart js. Variable map shown above -->
<script>
    $(function() {
        $('#chart_id').highcharts({
            chart: chart,
            title: title,
            xAxis: xAxis,
            yAxis: yAxis,
            series: series
        });
    });
</script>
{% endblock %}

