{% extends 'mcf_standards_browse/base_highcharts.html' %}
{% load staticfiles %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'fragmentSpectrum-list' %}">return to list</a></small>
    </div>

    <div class="main-content">
        <div class="mol">
            <h2>Fragmentation Spectrum for <a href="{% url 'standard-detail' specdata.spectrum.standard.inventory_id %}">{{ specdata.spectrum.standard }}, {{ specdata.spectrum.adduct.html_str }}</a></h2>
            <h3>Scan number: {{ specdata.spectrum.spec_num }}</h3>
            <p>Precursor m/z: {{ specdata.spectrum.precursor_mz | floatformat:5}}</p>
            <p>Retention time: {{ specdata.spectrum.rt |floatformat:1 }} min</p>
            <p>Collision energy: {{ specdata.spectrum.collision_energy }}</p>
            <p>Raw data: <a href="{% url 'dataset-detail' specdata.spectrum.dataset.id %}">{{ specdata.spectrum.dataset}} </a></p>
            <p id="splash">Splash: calculating...</p>
            <p>LC Method: {% for info in specdata.spectrum.dataset.lc_info.all %}{{ info }}{% endfor %}</p>
            <p>MS Method: {% for info in specdata.spectrum.dataset.ms_info.all %}{{ info }}{% endfor %}</p>
        </div>
        <br>
        <div class = "mol">
            <h3>Review Information </h3>
            <p>Precursor intensity: {{ specdata.spectrum.ms1_intensity |floatformat:0 }}</p>
            <p>Precursor Fraction: {{ specdata.spectrum.precursor_quad_fraction }}</p>
            <p>Date added: {{ specdata.spectrum.date_added }}</p>
            <p>Date curated: {{ specdata.spectrum.date_edited }}</p>
            <p>Curator: {{ specdata.spectrum.last_editor }}</p>
        </div>
    </div>
    <div class="main-content">
        {{xic_plot|safe}}
        {{fragment_plot|safe}}
    </div>
{% endblock %}

{% block script %}
<script>
    function setSplash(splash, status, jqxhr) {
        console.log(splash);
        $('#splash').text("Splash: " + splash);
    }
    $.ajax({
        type: "POST",
        url: "http://splash.fiehnlab.ucdavis.edu/splash/it",
        data: JSON.stringify({{ splash_payload | safe}}),
        contentType: "application/json"
    }).done(setSplash).fail(function (jqxhr, status, error) {console.log("Error: " + error + ", Status: " + status)});
</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

