{% extends 'mcf_standards_browse/base.html' %}

{% block content %}
 <div class="center">
     <h1> Add Standard{% if form_type == 'batch' %}s{% endif %}</h1>
     {% if user.is_authenticated %}

     <div class="main-content">
         <h2>Instructions</h2>
        {% if form_type == 'single' %}
            <p> Complete the fields below. It will complain if mandatory fields are not completed
            <br>
            <a href="{% url 'standard-add-batch' %}"> Add Batch</a></p>

        {% else %}
            The standards to add should be formatted as a tab-separated .txt file.
            <br>
            This file <b>must</b> contain the fields: "id","name","formula", "inchi", "solubility", "vendor","vendor_id", "hmdb_id" , "chebi_id", "lipidmaps_id", "cas_id", "pubchem_id" <b>but</b> the values can be blank.
            <br>
            <a href="{% url 'standard-add' %}"> Add Single</a>
        {% endif %}
     </div>

        <div class="main-content">
            <form method="POST" class="data_upload-form" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
     {% else %}
        <div class="main-content">
            You must be logged in to add a molecule
        </div>
     {% endif %}

</div>
{% endblock %}