{% extends 'mcf_standards_browse/base_highcharts.html' %}
{% load staticfiles %}
{% load xic_extras %}

{% block content %}
    <div class="page-header-extras">
        <small><a href="{% url 'dataset-detail' dataset.pk %}">return to dataset list</a></small>
    </div>
    <div class="container">
        <h1> Curation Detail</h1>
        <div class="main-content">
            <h2> {{ standard }} {% autoescape off %}{{ adduct.html_str }} {% endautoescape %} </h2>
            <h2>Dataset: <a href="{% url 'dataset-detail' dataset.pk %}"> {{ dataset.name }}</a></h2>
            <h3>m/z: {{ mz|floatformat:"5" }}</h3>
                <!--<div id='chart_id' class="specgraph"></div>-->
                <div id="xi_plot" class="specgraph"> {{xic_plot|safe}}</div>

        </div>
        <div class="main-content">
            <h2>Fragmentation Spectra</h2>
            {% if frag_specs|length > 0 %}
                {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                {% endif %}
                    <table id="id_list_table">
                    <tr>
                        <th>Info</th>
                        <th>Fragmentation Spectrum </th>
                        <th>Status</th>
                    </tr>
                    {% for spec, spec_plot in frag_info %}
                        <tr>
                            <td>
                                <div>
                                    <p > Scan Number {{ spec.spec_num }}</p>
                                    <p > Precursor m/z: {{ spec.precursor_mz|floatformat:"5"  }} </p>
                                    <p > Retention time: {{ spec.rt |floatformat:"2" }}</p>
                                    <p > Precursor Fraction: {{ spec.precursor_quad_fraction|floatformat:"2" }} </p>
                                    <p > {{ spec.collision_energy }}</p>
                                </div>
                            </td>
                            <td>
                                <div class="xic_fraggraph">{{spec_plot|safe}}</div>
                            </td>
                            <td>
                                {% if user.is_authenticated %}
                                    {{ form|form_id:spec.id }}
                                {% else %}
                                    {% if spec.reviewed == False %}
                                        Unrated
                                    {% else %}
                                        {% if spec.standard == None%}
                                            Rejected
                                        {% else %}
                                            {{ spec.standard }}
                                        {% endif %}
                                        Status set by {{ spec.last_editor }} on {{ spec.date_edited }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% if user.is_authenticated %}
                    <input type="submit" value="Save" class="save btn btn-default" style="float: right; margin-right: 1%;">
                </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}
