/STD_MIX_100_108.mzML
/STD_MIX_109_113_NEG.mzML
/STD_MIX_133_142_neg.mzML
/STD_MIX_80_98_NEG.mzML
/Standard_Library_MCF_Inhouse_metabolites_2.tsv
/tmp_csv.csv
/tmp_ebi_export.zip
/tmp_mzml.mzml
/IROA_Lib_Plate7_A.raw
/Lipid_Std_mix_pos_Avanti_197.mzML
