{% extends 'spec_browse/base.html' %}
{% load nvd3_tags %}

{% block header%}
    {# Jquery CDN : Needed when using jquery_on_ready=True #}
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock %}

{% block content %}
    <div class="mol">
        <h2>Fragmentation Spectrum Detail</h2>
        <h3>ID: {{ specdata.spectrum.pk }}</h3>
        <p>precursor m/z {{ specdata.spectrum.precursor }}</p>
        <p>Annotations: {{ specdata.annotations }}</p>
        <!-- <p>Pickled profile mzs: {{ data.spectrum.profile_mzs }}</p>
             <p>Pickled profile intensities: {{ data.spectrum.profile_ints }}</p> -->
        <a class="btn btn-default" href="{% url 'fragmentSpectrum_edit' pk=specdata.spectrum.pk %}">Edit</a>
    </div>
{% endblock %}

{% block spec_graph %}
    <div class="specgraph">
        {% include_container chartcontainer 400 600 %}
    </div>
{% endblock %}
