/LICENSE
/README.txt
/calendar-icons.svg
/icon-addlink.svg
/icon-alert.svg
/icon-calendar.svg
/icon-changelink.svg
/icon-clock.svg
/icon-deletelink.svg
/icon-no.svg
/icon-unknown-alt.svg
/icon-unknown.svg
/icon-yes.svg
/inline-delete.svg
/search.svg
/selector-icons.svg
/sorting-icons.svg
/tooltag-add.svg
/tooltag-arrowright.svg
