<!DOCTYPE html>
{% load nvd3_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/spec_browse.css' %}">

    {% block header %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>MCF Standards Browser</title>
</head>
<body>
    <div class="page-header">
        <h1> Prototype Mass Spec Database (PMSD) </h1>
    </div>
    {% block content %}
    {% endblock %}

    {% block spec_graph %}
    {% endblock %}
</body>
</html>