/datatables.bootstrap.js
/datatables.django.js
/jquery.dataTables.js
/jquery.dataTables.min.js
/language.ar.json
/language.cs.json
/language.da.json
/language.de.json
/language.el.json
/language.es.json
/language.et.json
/language.fa.json
/language.fi.json
/language.fr.json
/language.ga.json
/language.he.json
/language.hi.json
/language.hr.json
/language.hu.json
/language.id.json
/language.it.json
/language.ja.json
/language.ka.json
/language.lt.json
/language.lv.json
/language.mk.json
/language.nl.json
/language.nn.json
/language.pl.json
/language.pt-br.json
/language.pt.json
/language.ro.json
/language.ru.json
/language.sk.json
/language.sl.json
/language.sr-latn.json
/language.sv.json
/language.th.json
/language.tr.json
/language.uk.json
/language.ur.json
/language.vi.json
/language.zh-cn.json
/language.zh-tw.json
